openapi: 3.1.0
info:
  title: ITMO service backends (unofficial)
  version: 0.1.0
  summary: Read-only subset of ITMO backends used by the my.itmo mobile app, outside the my.itmo.ru proxy.
  description: |
    Unofficial contract of separate ITMO backends that the my.itmo Android app calls directly. They accept the
    same ITMO.ID access token as my.itmo.ru (client `student-personal-cabinet`) as `Authorization: Bearer`.
    Every path has its own `servers` entry: the backends live on different hosts.
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://api.itmo.su
security:
  - itmoId: []
tags:
  - name: occupancy
  - name: schedule
  - name: recordbook
  - name: events
  - name: actual
  - name: clubs
paths:
  /isapp/buildings/:
    servers:
      - url: https://api.cctv.la.itmo.su
    get:
      operationId: getOccupancyBuildings
      tags: [occupancy]
      summary: Buildings with room occupancy tracking
      responses:
        "200":
          description: Buildings
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "../../openapi/my-itmo.yaml#/components/schemas/ResultResponse"
                  - type: object
                    properties:
                      result:
                        type: object
                        required: [buildings]
                        properties:
                          buildings:
                            type: array
                            items:
                              type: object
                              required: [id, humanreadable_name]
                              properties:
                                id:
                                  type: integer
                                humanreadable_name:
                                  type: string
        default:
          $ref: "#/components/responses/Error"
  /isapp/rooms:
    servers:
      - url: https://api.cctv.la.itmo.su
    get:
      operationId: getOccupancyPlaces
      tags: [occupancy]
      summary: Current occupancy of public places (coworkings, halls) in a building, estimated by cameras
      parameters:
        - name: building_id
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Places
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "../../openapi/my-itmo.yaml#/components/schemas/ResultResponse"
                  - type: object
                    properties:
                      result:
                        type: object
                        required: [places]
                        properties:
                          places:
                            type: array
                            items:
                              $ref: "#/components/schemas/OccupancyPlace"
        default:
          $ref: "#/components/responses/Error"
  /api/v3/teacher/{isu}:
    servers:
      - url: https://api.schedule.itmo.su
    get:
      operationId: getTeacherSchedule
      tags: [schedule]
      summary: Timetable of a teacher for an inclusive date range
      parameters:
        - name: isu
          in: path
          required: true
          description: Teacher ISU number
          schema:
            type: integer
        - $ref: "../../openapi/my-itmo.yaml#/components/parameters/DateStart"
        - $ref: "../../openapi/my-itmo.yaml#/components/parameters/DateEnd"
      responses:
        "200":
          description: One entry per day
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "../../openapi/my-itmo.yaml#/components/schemas/DataResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "../../openapi/my-itmo.yaml#/components/schemas/ScheduleDay"
        default:
          $ref: "#/components/responses/Error"
  /api/record_book/history:
    servers:
      - url: https://recordbook.itmo.su
    get:
      operationId: getRecordBookHistory
      tags: [recordbook]
      summary: Recent changes of record book points, newest first
      parameters:
        - name: offset
          in: query
          required: true
          schema:
            type: integer
            minimum: 0
        - name: count
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Changes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "../../openapi/my-itmo.yaml#/components/schemas/ResultResponse"
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: "#/components/schemas/RecordBookChange"
        default:
          $ref: "#/components/responses/Error"
  /api/v2/events:
    servers:
      - url: https://rate.itmo.su
    get:
      operationId: getUniversityEvents
      tags: [events]
      summary: University events that can be rated in the app
      responses:
        "200":
          description: Events
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "../../openapi/my-itmo.yaml#/components/schemas/ResultResponse"
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          type: object
                          required: [id, name, date_start]
                          properties:
                            id:
                              type: integer
                            event_id:
                              type: [string, "null"]
                            name:
                              type: string
                            date_start:
                              type: string
                              format: date-time
                            date_end:
                              type: [string, "null"]
                              format: date-time
        default:
          $ref: "#/components/responses/Error"
  /v1/misc/relevant:
    servers:
      - url: https://actual.itmo.su
    get:
      operationId: getActual
      tags: [actual]
      summary: '"Актуальное": current announcements and important notices'
      responses:
        "200":
          description: Announcements
          content:
            application/json:
              schema:
                type: object
                required: [code]
                properties:
                  code:
                    type: integer
                    description: 0 means success
                  message:
                    type: [string, "null"]
                  result:
                    type: object
                    properties:
                      attention:
                        type: array
                        description: Important notices; observed empty
                        items:
                          $ref: "#/components/schemas/Announcement"
                      actual:
                        type: array
                        items:
                          $ref: "#/components/schemas/Announcement"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/clubs/types:
    servers:
      - url: https://clubs.itmo.su
    get:
      operationId: getClubTypes
      tags: [clubs]
      summary: Student club categories
      responses:
        "200":
          description: Club types
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "../../openapi/my-itmo.yaml#/components/schemas/ResultResponse"
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          type: object
                          required: [id, club_type]
                          properties:
                            id:
                              type: integer
                            club_type:
                              type: string
                            image:
                              type: [string, "null"]
        default:
          $ref: "#/components/responses/Error"
  /api/v1/clubs/types/{typeId}:
    servers:
      - url: https://clubs.itmo.su
    get:
      operationId: getClubsByType
      tags: [clubs]
      summary: Clubs of one category
      parameters:
        - name: typeId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Clubs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "../../openapi/my-itmo.yaml#/components/schemas/ResultResponse"
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: "#/components/schemas/ClubCard"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/clubs/my_clubs:
    servers:
      - url: https://clubs.itmo.su
    get:
      operationId: getMyClubs
      tags: [clubs]
      summary: Clubs the student belongs to or owns
      responses:
        "200":
          description: Clubs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "../../openapi/my-itmo.yaml#/components/schemas/ResultResponse"
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: "#/components/schemas/ClubCard"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/clubs/{clubId}:
    servers:
      - url: https://clubs.itmo.su
    get:
      operationId: getClub
      tags: [clubs]
      summary: Club details with links and meetings
      parameters:
        - name: clubId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Club
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "../../openapi/my-itmo.yaml#/components/schemas/ResultResponse"
                  - type: object
                    properties:
                      result:
                        $ref: "#/components/schemas/Club"
        default:
          $ref: "#/components/responses/Error"
components:
  securitySchemes:
    itmoId:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: ITMO.ID access token, the same as for my.itmo.ru.
  responses:
    Error:
      description: Error envelope or a non-JSON gateway error
      content:
        application/json:
          schema:
            $ref: "../../openapi/my-itmo.yaml#/components/schemas/ResultResponse"
  schemas:
    OccupancyPlace:
      type: object
      required: [id, name, occupancy_rate]
      properties:
        id:
          type: integer
        building_id:
          type: integer
        name:
          type: string
        location_name:
          type: [string, "null"]
          description: Floor or wing
        image_url:
          type: [string, "null"]
        occupancy_rate:
          type: number
          description: Estimated occupancy, percent
    RecordBookChange:
      type: object
      required: [discipline_name, date]
      properties:
        discipline_name:
          type: string
        name:
          type: [string, "null"]
          description: Assessment that changed
        date:
          type: string
          format: date-time
        old_value:
          type: [number, "null"]
        new_value:
          type: [number, "null"]
        teacher:
          $ref: "../../openapi/my-itmo.yaml#/components/schemas/RecordBookTeacher"
    Announcement:
      type: object
      required: [id, name]
      properties:
        id:
          type: integer
        name:
          type: string
        admin_name:
          type: [string, "null"]
        short_description:
          type: [string, "null"]
        long_description:
          type: [string, "null"]
          description: HTML
        date_start:
          type: [string, "null"]
          format: date
        date_end:
          type: [string, "null"]
          format: date
        date_start_show:
          type: [string, "null"]
          format: date
        date_end_show:
          type: [string, "null"]
          format: date
        photo:
          type: [string, "null"]
        category: {}
        type_actual:
          type: [integer, "null"]
        pages:
          type: array
    ClubCard:
      type: object
      required: [id, name]
      properties:
        id:
          type: integer
        name:
          type: string
        short_description:
          type: [string, "null"]
        card_image:
          type: [string, "null"]
        is_member:
          type: [boolean, "null"]
        is_owner:
          type: [boolean, "null"]
    Club:
      allOf:
        - $ref: "#/components/schemas/ClubCard"
        - type: object
          properties:
            long_description:
              type: [string, "null"]
            vk:
              type: [string, "null"]
            instagram:
              type: [string, "null"]
            website:
              type: [string, "null"]
            background:
              type: [string, "null"]
            meetings:
              type: array
              description: Observed empty
